*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.title {
  font-size: 2rem;
}

.sub-title {
  font-size: 1.75rem;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}
